@model InstaHub.Web.ViewModels.Chat.UserMessages
@{ this.ViewBag.Title = "Chat"; }

<link rel="stylesheet" href="~/css/chat.css" asp-append-version="true" />

<ol class="breadcrumb">
    <li class="breadcrumb-item active">@this.ViewData["Title"]</li>
</ol>

<div class="container">
    <h3 class=" text-center">Messaging</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Last Active</h4>
                    </div>
                </div>
                <div class="inbox_chat">
                    @foreach (var message in this.Model.Messages
                        .GroupBy(x => x.UserUserName)
                        .Select(x => x.Last())
                        .ToList()
                    )
                    {
                        <div class="chat_list">
                            <div class="chat_people">
                                <div class="chat_img">
                                    <img class="rounded-circle" src="~/uploads/@message.UserImagePath" alt="sunil">
                                </div>
                                <div class="chat_ib">
                                    <h5>
                                        @message.UserUserName
                                        <span class="chat_date">
                                            <time datetime="@message.CreatedOn.ToString("O")"></time>
                                        </span>
                                    </h5>
                                    <p>@message.Text</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="mesgs">
                <div id="messagesList" class="msg_history messages">
                    @foreach (var message in this.Model.Messages)
                    {
                        <br />
                        <div class="incoming_msg">
                            <div class="incoming_msg_img">
                                <img class="rounded-circle" src="~/uploads/@message.UserImagePath" alt="" />
                            </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>@message.Text</p>
                                    <span class="text-danger">@message.UserUserName</span>:
                                    <time datetime="@message.CreatedOn.ToString("O")"></time>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="type_msg">
                    <div id="message-holder" class="input_msg_write">
                        <input id="messageInput" type="text" class="write_msg" placeholder="Type a message" />
                        <button id="sendButton" class="msg_send_btn" type="button">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
<script src="~/lib/moment/min/moment-with-locales.min.js"></script>

@section Scripts {
    <script src="~/js/chat.js"></script>
}