@model MyForum.Web.ViewModels.Categories.CategoryViewModel
@{
    this.ViewData["Title"] = this.Model.Title;
}

<div class="text-center">
    <h1 class="display-4">@this.ViewData["Title"]</h1>
</div>
<div class="alert alert-info">
    @this.Model.Description
</div>
@foreach (var post in this.Model.ForumPosts)
{
    <div class="media-body card-header border border-dark p-2 m-2" style="border-radius: 20px;">
        <h4 class="media-heading">
            <a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">@post.Title</a>
        </h4>
        <hr />
        <p>@post.ShortContent</p>
        <hr />
        <ul class="list-inline list-unstyled text-right">
            <li class="list-inline-item">
                <b><i class="fas fa-user-edit"></i> @post.UserUserName</b>
            </li>
            <li class="list-inline-item">
                |
            </li>
            <li class="list-inline-item">
                <i class="fas fa-calendar-alt"></i> @post.CreatedOn
            </li>
            <li class="list-inline-item">
                |
            </li>
            <li class="list-inline-item">
                <i class="fas fa-comments"></i> @post.CommentsCount comments
            </li>
        </ul>
    </div>
}

@*Pagination*@
<nav>
    <ul class="pagination pagination pagination justify-content-center">
        @if (this.Model.CurrentPage == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <i class="fas fa-angle-double-left"></i>
                </a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-route="forumCategory" asp-route-name="@this.Model.Title" asp-route-page="@(this.Model.CurrentPage - 1)">
                    <i class="fas fa-angle-double-left"></i>
                </a>
            </li>
        }

        @for (int i = 1; i <= this.Model.PagesCount; i++)
        {
            var active = i == this.Model.CurrentPage ? " active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link" asp-route="forumCategory" asp-route-name="@this.Model.Title" asp-route-page="@i">@i</a>
            </li>
        }

        @if (this.Model.CurrentPage == this.Model.PagesCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-route="forumCategory" asp-route-name="@this.Model.Title" asp-route-page="@(this.Model.CurrentPage + 1)">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </li>
        }
    </ul>
</nav>