@model IEnumerable<InstaHub.Web.ViewModels.Profiles.ProfileViewModel>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css" asp-append-version="true">

<div class="container border border-primary p-4 bg-light">
    <table class="table table-striped table-hover table-bordered" id="myTable">
        <thead>
            <tr>
                <th>Username</th>
                <th>Location</th>
                <th>Description</th>
                <th>Posts</th>
                <th>Views</th>
                <th>Likes</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var profile in this.Model)
        {
            <tr>
                <td>
                    <a asp-controller="Profile" asp-action="GetPosts" asp-route-username="@profile.Username">
                        @profile.Username
                    </a>
                </td>
                <td>@(profile.Location ?? "Location Miss")</td>
                <td>
                    @if (profile.Description == null)
                    {
                    <p>Still No Description</p>
                    }
                    else
                    {
                        @(profile.Description.Length <= 40 ? profile.Description : profile.Description.Substring(0, 40) + " ...")
                    }
                </td>
                <td>@profile.PostsCount</td>
                <td>@profile.PostViews</td>
                <td>@profile.Posts.Sum(x => x.Votes.Count)</td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
