@using InstaHub.Common
@model PagedList.IPagedList<InstaHub.Web.ViewModels.HomePage.HomePostViewModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link href="~/css/profile.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />

    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
</head>
<body style="background: aliceblue">

    <div class="container">

        <form style="border-radius: 20px" class="navbar navbar-light bg-info justify-content-between" method="get" asp-action="Posts">
            <select class="form-control col-2" id="searchFor" name="orderBy">
                <option selected="">@ViewData["orderBy"]</option>
                <option value="Latest">Latest</option>
                <option value="Earliest">Earlier</option>
                <option value="Most-Visited">Most Visited</option>
                <option value="Most-Liked">Most Liked</option>
            </select>
            <a class="navbar-brand">
                <span class="badge badge-light">Results: @this.Model.Count() / @this.TempData["AllPosts"]</span>
            </a>
            <span>
                <button class="btn btn-warning" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </span>
            <span style="margin-left: -230px">
                <input value="@this.ViewData["searchTerm"]" type="search" name="searchTerm" class="form-control" placeholder="Search forum" />
            </span>
        </form>

        <hr />
        <div class="row">
            <div class="col-md-12">
                <div id="content">
                    <div class="profile-content">
                        <div class="tab-content p-0">
                            <div class="tab-pane fade active show" id="profile-post">
                                <ul class="timeline">
                                    @foreach (var post in Model)
                                    {
                                        <li>
                                            <div class="timeline-time">
                                                <span>
                                                    <time datetime="@post.CreatedOn.ToString("O")"></time>
                                                </span>
                                            </div>
                                            <div class="timeline-icon">
                                                <a href="javascript:;">&nbsp;</a>
                                            </div>
                                            <div class="timeline-body">
                                                <div class="timeline-header">
                                                    <span class="userimage"><img src="~/uploads/@post.UserImagePath" alt=""></span>
                                                    <span class="username">
                                                        <b>
                                                            <a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">@post.Title</a>
                                                        </b>
                                                    </span>
                                                    <span>
                                                        <a asp-controller="ViewUserProfile" asp-action="ByUsername" asp-route-username="@post.UserUserName" class="fas fa-user-edit float-right" data-abc="true">@post.UserUserName</a>
                                                    </span>
                                                </div>
                                                <div class="timeline-content table-responsive">
                                                    <p>
                                                        @Html.Raw(post.Content)
                                                    </p>
                                                </div>

                                                <hr />

                                                <div class="timeline-likes">
                                                    <div class="stats-right">
                                                        <i class="far fa-comment ml-2"></i> @post.Comments.Count()
                                                        <i class="far fa-eye ml-2"></i> @post.VisitorsCount
                                                    </div>
                                                    <div>
                                                        <span class="fa-stack fa-fw stats-icon">
                                                            <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                                            <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                                                        </span>
                                                        <span class="stats-total">@post.VotesCount</span>
                                                    </div>
                                                </div>
                                                <div class="timeline-comment-box">
                                                    <div class="input">
                                                        <div class="input-group">
                                                            <span>
                                                                <a class="btn btn-primary" type="button" asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">
                                                                    Like & Comment
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <ul class="pagination pagination pagination justify-content-center">
                @if (Model.PageNumber == 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Posts"
                           asp-route-searchFor="@this.ViewData["orderBy"]" asp-route-searchTerm="@this.ViewData["searchTerm"]"
                           asp-route-page="@(Model.PageNumber - 1)">
                            <i class="fas fa-angle-double-left"></i>
                        </a>
                    </li>
                }

                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    var active = i == Model.PageNumber ? " active" : string.Empty;
                    <li class="page-item @active">
                        <a class="page-link" asp-action="Posts"
                           asp-route-searchFor="@this.ViewData["orderBy"]" asp-route-searchTerm="@this.ViewData["searchTerm"]"
                           asp-route-page="@i">@i</a>
                    </li>
                }

                @if (Model.PageNumber == Model.PageCount)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Posts"
                           asp-route-searchFor="@this.ViewData["orderBy"]" asp-route-searchTerm="@this.ViewData["searchTerm"]"
                           asp-route-page="@(Model.PageNumber + 1)">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</body>
</html>