@using System.Web
@model IEnumerable<MyForum.Web.ViewModels.Posts.PostViewModel>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
<link href="~/css/home.css" rel="stylesheet" />

<div class="container">
    <div class="main-body p-0">
        <div class="inner-wrapper">
            <!-- Inner sidebar -->
            <div class="inner-sidebar">
                <!-- Inner sidebar header -->
                <div class="inner-sidebar-header justify-content-center">
                    <a asp-area="" asp-controller="Posts" asp-action="Create" class="btn btn-primary has-icon btn-block" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus mr-2">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        NEW POST
                    </a>
                </div>
                <!-- /Inner sidebar header -->
                <!-- Inner sidebar body -->
                <div class="inner-sidebar-body p-0">
                    <div class="p-3 h-100" data-simplebar="init">
                        <div class="simplebar-wrapper" style="margin: -16px;">
                            <div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div>
                            <div class="simplebar-mask">
                                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                    <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;">
                                        <div class="simplebar-content" style="padding: 16px;">
                                            <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                                <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon active">All Threads</a>
                                                <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon">Popular this week</a>
                                                <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon">Popular all time</a>
                                                <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon">Solved</a>
                                                <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon">Unsolved</a>
                                                <a href="javascript:void(0)" class="nav-link nav-link-faded has-icon">No replies yet</a>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>
                        </div>
                        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div>
                        <div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);"></div></div>
                    </div>
                </div>
                <!-- /Inner sidebar body -->
            </div>
            <!-- /Inner sidebar -->
            <!-- Inner main -->
            <div class="inner-main">
                <!-- Inner main header -->
                <form method="get" asp-action="GetPosts">
                    <div class="inner-main-header">
                        <a class="nav-link nav-icon rounded-circle nav-link-faded mr-3 d-md-none" href="#" data-toggle="inner-sidebar"><i class="material-icons">arrow_forward_ios</i></a>
                        <select class="custom-select custom-select-sm w-auto mr-1">
                            <option selected="">Latest</option>
                            <option value="1">Popular</option>
                            <option value="3">Solved</option>
                            <option value="3">Unsolved</option>
                            <option value="3">No Replies Yet</option>
                        </select>
                        <span class="ml-auto w-auto">
                            <input type="search" name="searchTerm" class="form-control form-control bg-gray-200 border-gray-200 shadow-none mb-4 mt-4" placeholder="Search forum" />
                        </span>
                        <span class="ml-2">
                            <button type="submit" class="fas fa-search btn btn-primary form-control"></button>
                        </span>
                    </div>
                </form>
                <!-- /Inner main header -->
                <!-- Inner main body -->
                <!-- Forum List -->
                <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                    @foreach (var post in this.Model)
                    {
                        <div class="card mb-2">
                            <div class="card-body p-2 p-sm-3">
                                <div class="media forum-item">
                                    <a asp-controller="ViewUserProfile" asp-action="ByUsername" asp-route-username="@post.UserUserName">
                                        <img src="~/uploads/@post.UserImagePath" style="width: 70px; height: 70px;" class="mr-3 rounded-circle" alt="User" />
                                    </a>
                                    <div class="media-body">
                                        <h6>
                                            <a asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">
                                                @post.Title
                                            </a>
                                        </h6>
                                        <p class="text-secondary">
                                            @post.ShortContent
                                        </p>
                                        <p class="text-muted">
                                            <span class="text-secondary font-weight-bold">
                                                Post author: @post.UserUserName
                                            </span>
                                            <span class="text-secondary font-weight-bold float-right">
                                                Published @((DateTime.Now - post.CreatedOn).Days) days ago
                                            </span>
                                        </p>
                                    </div>
                                    <div class="text-muted small text-center align-self-center">
                                        <span class="d-none d-sm-inline-block">
                                            <i class="fas fa-thumbs-up"></i> @post.VotesCount
                                        </span>
                                        <span>
                                            <i class="far fa-comment ml-2"></i> @post.Comments.Count()
                                        </span>
                                        <span>
                                            <i class="far fa-eye ml-2"></i> @post.VisitorsCount
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
                        <li class="page-item disabled">
                            <span class="page-link has-icon"><i class="material-icons">chevron_left</i></span>
                        </li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                        <li class="page-item active"><span class="page-link">2</span></li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                        <li class="page-item">
                            <a class="page-link has-icon" href="javascript:void(0)"><i class="material-icons">chevron_right</i></a>
                        </li>
                    </ul>
                </div>
                <!-- /Forum List -->
                <!-- /Inner main body -->
            </div>
            <!-- /Inner main -->
        </div>

    </div>
</div>