@model InstaHub.Web.ViewModels.Profile.UserProfileViewModel

<div class="container">
    <div class="info">
        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <img src="~/uploads/@Model.ImagePath" alt="Raised circle image" class="img-fluid rounded-circle shadow-lg" style="width: 180px;">
            </div>
            <div class="col-12 col-md-8 d-flex flex-column align-items-center align-items-lg-start">
                <div class="d-flex flex-row align-items-start mt-3 mt-lg-0">
                    <div class="name">
                        <h2 class="mb-0">@Model.Username</h2>
                    </div>
                    @if (this.Model.Username != this.User.Identity.Name)
                    {
                        @if (this.Model.IsUserFollowed)
                        {
                            <a asp-area="" asp-controller="Follow" asp-action="Unfollow" asp-route-username="@this.Model.Username" class="btn btn-primary btn-pill btn-sm ml-3 mt-1">Unfollow</a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Follow" asp-action="Follow" asp-route-username="@this.Model.Username" class="btn btn-primary btn-pill btn-sm ml-3 mt-1">Follow</a>
                        }
                    }
                </div>
                <div class="stats d-flex flex-row align-items-center align-items-lg-start text-center text-lg-left">
                    <div class="posts ml-2 ml-lg-0"><p class="lead"><b>@Model.Posts.Count()</b> posts</p></div>
                    <div class="posts"><p class="lead"><b>&emsp; @Model.Followers.Count()</b> followers</p></div>
                    <div class="posts"><p class="lead"><b>&emsp; @Model.Followed.Count()</b> following</p></div>
                </div>
                <p class="lead mb-0 mt-2"><b>Description</b></p>
                <p class="lead text-center text-lg-left">@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="navigation d-flex justify-content-center">
        <ul class="nav nav-primary nav-tabs mt-3 d-flex flex-column flex-md-row">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="ByUsername" asp-route-username="@this.Model.Username">
                    <i class="fas fa-th"></i> Posts
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#photos">
                    <i class="fas fa-th"></i> Photos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="GetFollowers" asp-route-username="@this.Model.Username">
                    <i class="far fa-bookmark"></i> Followers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="GetFollowing" asp-route-username="@this.Model.Username">
                    <i class="far fa-bookmark"></i> Following
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-area="" asp-controller="Profile" asp-action="About" asp-route-username="@this.Model.Username">
                    <i class="far fa-id-badge"></i> About
                </a>
            </li>
        </ul>
    </div>
    <div class="text-center">
        <div class="row">
            <div class="about-info col-md-6">
                <p><i class="fas fa-user-tie"></i>&nbsp Username - @this.Model.Username</p>
                <p><i class="fas fa-at"></i>&nbsp Email - @this.Model.Username</p>
                <p><i class="fas fa-calendar-alt"></i>&nbsp Joined on -  <time datetime="@this.Model.CreatedOn.ToString("O")"></time></p>
                <p><i class="fa fa-map"></i>&nbsp Location - &nbsp; @Model.Location</p>
                <p><i class="fas fa-venus-mars"></i>&nbsp Gender - @this.Model.Gender</p>
                <p><i class="far fa-file-alt"></i>&nbsp Description:</p>
                @if (this.User.Identity.IsAuthenticated && this.User.Identity.Name == this.Model.Username)
                {
                    <p>
                        <textarea id="descriptionText" class="form-control" placeholder="Add your description here:" name="desc">@this.Model.Description</textarea>
                    </p>
                    <i onclick="addDescription()" class="btn btn-primary">Update</i>
                }
                else
                {
                    <p>
                        <textarea disabled class="form-control" placeholder="Add your description here:" name="desc">@this.Model.Description</textarea>
                    </p>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script src="/js/viewUserProfile/about.js"></script>
}
