@model InstaHub.Web.ViewModels.Profile.PostInProfileViewModel

@{
    var posts = (PagedList.IPagedList)this.Model.Posts;
}

<link href="~/css/profile.css" rel="stylesheet" asp-append-version="true" />

<div class="container">
    <div class="info">
        <div class="row">
            <div class="col-12 col-md-4 text-center">
                <a data-toggle="lightbox" href="~/uploads/@Model.ImagePath">
                    <img src="~/uploads/@Model.ImagePath" alt="Profile image" class="img-fluid rounded-circle shadow-lg" style="width: 180px; height: 200px">
                </a>
            </div>
            <div class="col-12 col-md-8 d-flex flex-column align-items-center align-items-lg-start">
                <div class="d-flex flex-row align-items-start mt-3 mt-lg-0">
                    <div class="name">
                        <h2 class="mb-0">@Model.UserName</h2>
                    </div>
                    @if (this.Model.UserName != this.User.Identity.Name)
                    {
                        @if (this.Model.IsUserFollowed)
                        {
                            <a asp-area="" asp-controller="Follow" asp-action="Unfollow" asp-route-username="@this.Model.UserName" class="btn btn-primary btn-pill btn-sm ml-3 mt-1">Unfollow</a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Follow" asp-action="Follow" asp-route-username="@this.Model.UserName" class="btn btn-primary btn-pill btn-sm ml-3 mt-1">Follow</a>
                        }
                    }
                </div>
                <div class="stats d-flex flex-row align-items-center align-items-lg-start text-center text-lg-left">
                    <div class="posts ml-2 ml-lg-0"><p class="lead"><b>@Model.PostsCount</b> posts</p></div>
                    <div class="posts"><p class="lead"><b>&emsp; @Model.Followers</b> followers</p></div>
                    <div class="posts"><p class="lead"><b>&emsp; @Model.Followed</b> following</p></div>
                </div>
                <p class="lead mb-0 mt-2"><b>Description</b></p>
                <p class="lead text-center text-lg-left">@Model.Description</p>
            </div>
        </div>
    </div>
    <div class="navigation d-flex justify-content-center">
        <ul class="nav nav-primary nav-tabs mt-3 d-flex flex-column flex-md-row">
            <li class="nav-item">
                <a class="nav-link active" asp-area="" asp-controller="Profile" asp-action="GetPosts" asp-route-username="@this.Model.UserName">
                    <i class="fas fa-th"></i> Posts
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="Photos" asp-route-username="@this.Model.UserName">
                    <i class="fas fa-images"></i> Photos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="GetFollowers" asp-route-username="@this.Model.UserName">
                    <i class="far fa-bookmark"></i> Followers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="GetFollowing" asp-route-username="@this.Model.UserName">
                    <i class="far fa-bookmark"></i> Following
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Profile" asp-action="About" asp-route-username="@this.Model.UserName">
                    <i class="far fa-id-badge"></i> About
                </a>
            </li>
        </ul>
    </div>
</div>

@*Content*@
<div class="profile-content">
    <div class="tab-content p-0">
        <div class="tab-pane fade active show" id="profile-post">
            <ul class="timeline">
                @foreach (var post in Model.Posts)
                {
                    <li>
                        <div class="timeline-time">
                            <span>
                                <time datetime="@post.CreatedOn.ToString("O")"></time>
                            </span>
                        </div>
                        <div class="timeline-icon">
                            <a href="javascript:;">&nbsp;</a>
                        </div>
                        <div class="timeline-body">
                            <div class="timeline-header">
                                <span class="userimage"><img src="~/uploads/@Model.ImagePath" alt=""></span>
                                <span class="username">
                                    <b>
                                        <a asp-area="" asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">@post.Title</a>
                                    </b>
                                </span>
                            </div>
                            <div class="timeline-content">
                                <p>
                                    @Html.Raw(post.Content)
                                </p>
                            </div>
                            <hr />
                            <div class="timeline-likes">
                                <div class="stats-right">
                                    <span class="stats-text">@post.Comments.Count Comments</span>
                                </div>
                                <div>
                                    <span class="fa-stack fa-fw stats-icon">
                                        <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                        <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                                    </span>
                                    <span class="stats-total">@post.Votes.Count</span>
                                </div>
                            </div>
                            <div class="timeline-comment-box">
                                <div class="user"><img src="~/uploads/@Model.CurrentUserImagePath" style="width: 50px;"></div>
                                <div class="input">
                                    <div class="input-group">
                                        <span>
                                            <a class="btn btn-primary" type="button" asp-controller="Posts" asp-action="ById" asp-route-id="@post.Id">
                                                Like & Comment
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<nav>
    <ul class="pagination pagination pagination justify-content-center">
        @if (posts.PageNumber == 1)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <i class="fas fa-angle-double-left"></i>
                </a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-action="GetPosts" asp-route-username="@this.Model.UserName" asp-route-page="@(posts.PageNumber - 1)">
                    <i class="fas fa-angle-double-left"></i>
                </a>
            </li>
        }

        @for (int i = 1; i <= posts.PageCount; i++)
        {
            var active = i == posts.PageNumber ? " active" : string.Empty;
            <li class="page-item @active">
                <a class="page-link" asp-action="GetPosts" asp-route-username="@this.Model.UserName" asp-route-page="@i">@i</a>
            </li>
        }

        @if (posts.PageNumber == posts.PageCount)
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" asp-action="GetPosts" asp-route-username="@this.Model.UserName" asp-route-page="@(posts.PageNumber + 1)">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </li>
        }
    </ul>
</nav>
