@using InstaHub.Common
@model InstaHub.Web.ViewModels.ViewUserProfile.UserProfileViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link href="~/css/profile.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />

    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />

    <link href="~/lib/fontawesome/css/all.css" rel="stylesheet" asp-append-version="true" />
</head>
<body style="background: aliceblue">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="content">
                    <div class="profile">
                        <div class="profile-header">
                            <div class="profile-header-cover"></div>
                            <div class="profile-header-content">
                                <div class="profile-header-img">
                                    <img src="~/uploads/@Model.ImagePath" alt="">
                                </div>
                                <div class="profile-header-info">
                                    <h4>@Model.Username</h4>
                                    <br />
                                    @if (this.Model.Username != this.User.Identity.Name)
                                    {
                                        @if (this.Model.IsUserFollowed)
                                        {
                                            <a asp-area="" asp-controller="Follow" asp-action="Unfollow" asp-route-username="@this.Model.Username" class="btn btn-dark">Unfollow</a>
                                        }
                                        else
                                        {
                                            <a asp-area="" asp-controller="Follow" asp-action="Follow" asp-route-username="@this.Model.Username" class="btn btn-warning">Follow</a>
                                        }
                                    }
                                </div>
                            </div>
                            <ul class="profile-header-tab nav nav-tabs">
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ViewUserProfile" asp-action="ByUsername" asp-route-username="@this.Model.Username" class="nav-link">POSTS ( @this.Model.PostsCount )</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ViewUserProfile" asp-action="GetFollowers" asp-route-username="@this.Model.Username" class="nav-link">FOLLOWERS ( @this.Model.Followers.Count() )</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ViewUserProfile" asp-action="GetFollowing" asp-route-username="@this.Model.Username" class="nav-link">FOLLOWING ( @this.Model.Followed.Count() )</a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="ViewUserProfile" asp-action="About" asp-route-username="@this.Model.Username" class="nav-link active show">ABOUT</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="profile-content">
                        <div class="row">
                            <div class="image-content col-md-6">
                                <img src="~/uploads/@this.Model.ImagePath" alt="" />
                            </div>
                            <div class="about-info col-md-6">
                                <p><i class="fas fa-user-tie"></i>&nbsp Username - @this.Model.Username</p>
                                <p><i class="fas fa-at"></i>&nbsp Email - @this.Model.Username</p>
                                <p><i class="fas fa-calendar-alt"></i>&nbsp Joined on -  <time datetime="@this.Model.CreatedOn.ToString("O")"></time></p>
                                <p><i class="fa fa-map"></i>&nbsp Location - &nbsp; @Model.Location</p>
                                <p><i class="fas fa-venus-mars"></i>&nbsp Gender - @this.Model.Gender</p>
                                <p><i class="far fa-file-alt"></i>&nbsp Description:</p>
                                @if (this.User.Identity.IsAuthenticated && this.User.Identity.Name == this.Model.Username)
                                {
                                    <p>
                                        <textarea id="descriptionText" class="form-control" placeholder="Add your description here:" name="desc">@this.Model.Description</textarea>
                                    </p>
                                    <i onclick="addDescription()" class="btn btn-primary">Update</i>
                                }
                                else
                                {
                                    <p>
                                        <textarea disabled class="form-control" placeholder="Add your description here:" name="desc">@this.Model.Description</textarea>
                                    </p>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts
    {
        <script src="/js/viewUserProfile/about.js"></script>
    }

</body>
