@page
@model RegisterModel
@{ ViewData["Title"] = "Register"; }

<div class="row">
    <div class="col-12 col-md-4 offset-md-1">
        <div class="register-form">
            <div class="mb-5">
                <h1>Register</h1>
                <p class="lead">Create an account to start playing.</p>
            </div>

            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="All" class="text-danger" placeholder="Password"></div>

                <div class="form-group">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" placeholder="Username" />
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" placeholder="Password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Repeat Password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.Location"></label>
                    <input asp-for="Input.Location" class="form-control" placeholder="Location" />
                    <span asp-validation-for="Input.Location" class="text-danger"></span>
                </div>

                <div class="input-group">
                    <div class="custom-file">
                        <input asp-for="Input.Image" />
                        @*<label asp-for="Input.Image" class="custom-file-label">Choose file</label>*@
                        <span asp-validation-for="Input.Image" class="text-danger"></span>
                    </div>
                </div>

                <br />

                <input asp-for="Input.Gender" type="radio" value="Male" checked> Male
                <input asp-for="Input.Gender" type="radio" value="Female"> Female<br>

                <br />

                <div class="form-group">
                    <button class="btn btn-block btn-primary" type="submit">Register</button>
                </div>

                <p>
                    Already have an account?
                    <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login Here</a>.
                </p>
                <p>By creating an account you agree to our <a href="uslovia.html">Terms & Privacy</a>.</p>
            </form>

            <p class="small my-4 text-center">Already have an account? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Log in</a>.</p>
        </div>
    </div>
    <div class="col-12 col-md-6 offset-md-1 d-flex">
        <img src="~/img/dog-9.jpg" class="w-100" />
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*<section>
        <h4>Use another service to register.</h4>
        <hr />
        @{
            if ((Model.ExternalLogins?.Count ?? 0) == 0)
            {
                <div>
                    <p>
                        There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                        for details on setting up this ASP.NET application to support logging in via external services.
                    </p>
                </div>
            }
            else
            {
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>*@